# debugfs
type debugfs_ion, fs_type, debugfs_type;

# procfs
type proc_wcnss_service, fs_type;

# sysfs
type sysfs_camera_awb_cal, fs_type, sysfs_type;
type sysfs_flashlight, fs_type, sysfs_type;
